body{
	margin: 0;
	padding: 0;
	background: url('./images/martin.jpg') no-repeat;
	background-size: cover;
}

h1, h2, h3, h4, h5, h6, p{
	padding: 0;
	margin: 0;
}
.header{
	width: 80%;
	margin: 0 auto;
	font-family: 'Charm', cursive;
	display: grid; 
	grid-template-columns: 1fr 300px;
	// justify-contesnt: space-between;
	padding: 15px 20px;
	a{
		color: black;
	}
}

.header-right{
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin: 13px;
	padding: 10px;
}

.signin-page{
	width: 50%;
	margin: 0 auto;
	padding: 20px 0;
	background: #2e3c4f;
}
.signin-form{
	width: 50%;
	margin: 0 auto;
}

.login-input{
	padding: 10px 50px;
	display: inline-block;
	margin: 5px 0;
}
.logout{
	display: grid;
	grid-template-columns: 1fr 2fr;

	h4{
		vertical-align: 5px;
	}
}

.home-page{
	width: 80%;
	margin: 2em 17em;
	p{
		width: 70%;
		margin: 10px 0;
		font-size: 20px;
	}
	h2{
		margin: 20px 0;
	}
}

.title{
	width: 53.3%;
	padding: 10px;
	border: bottom;
	font-size: 18px;
	display: block;
	text-transform: capitalize;
}

.description{
	margin: 10px 0;
	display: block;
}
.submit-btn{
	padding: 10px 21px;
	text-align: center;
	background: black;
	color: white;
	border: none;
	font-size: 20px;

}

.blog-title{
	margin: 20px 0;
	h1{
		margin: 18px 0;
		color: black;
		text-decoration-color: black;
		text-transform: capitalize;

	}

	link{
	}
}

.buttons{
	button{
		padding: 5px 10px;
		margin-left: 10px;
	}
}
