body{
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p{
	padding: 0;
	margin: 0;
}
.header{
	width: 80%;
	margin: 0 auto;
	font-family: 'Charm', cursive;
	display: grid; 
	grid-template-columns: 1fr 300px;
	// justify-contesnt: space-between;
	padding: 15px 20px;
	a{
		color: black;
	}
}

.header-right{
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin: 13px;
	padding: 10px;
}

.signin-page{
	width: 50%;
	// height: 250px;
	// margin: 40px 40px;
	margin: 0 auto;
	padding: 20px 0;
	background: #2e3c4f;
	// margin-top: 10px;
}

// input{
// 	display: block;
// 	// margin: 5px 0;
// 	// width: 50%;
// 	padding: 0.8em 7em;
// 	margin: 10px 0;
// 	border: none;
// 	width: 50%;
// }

.Submit-btn{
	padding: 10px;
}


.signin-form{
	width: 50%;
	margin: 0 auto;
	// margin: 80px auto;
	// margin-top: 5em;
}

.login-input{
	padding: 10px 50px;
	display: inline-block;
	margin: 5px 0;
}

.home-page{
	width: 80%;
	margin: 0 auto;
}