<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/bundle.css">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="489178879080-6o87kt17lfs231op1nnhe2fku788ll4u.apps.googleusercontent.com">
  <title>Document</title>
</head>
<body>
  
  <div id="root"></div>
  <script src="/static/bundle.js"></script>
</body>
</html>